<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <input
        class="form-check-input me-1"
        type="checkbox"
        value=""
        id="firstCheckboxStretched"
      />
      <label
        class="form-check-label stretched-link"
        for="firstCheckboxStretched"
        data-label="First checkbox">First checkbox</label
      >
    </li>
    <li class="list-group-item">
      <input
        class="form-check-input me-1"
        type="checkbox"
        value=""
        id="secondCheckboxStretched"
      />
      <label
        class="form-check-label stretched-link"
        for="secondCheckboxStretched"
        data-label="Second checkbox">Second checkbox</label
      >
    </li>
    <li class="list-group-item">
      <input
        class="form-check-input me-1"
        type="checkbox"
        value=""
        id="thirdCheckboxStretched"
      />
      <label
        class="form-check-label stretched-link"
        for="thirdCheckboxStretched"
        data-label="Third checkbox">Third checkbox</label
      >
    </li>
    <li class="list-group-item">
      <input
        class="form-check-input me-1"
        type="checkbox"
        value=""
        id="fourdCheckboxStretched"
      />
      <label
        class="form-check-label stretched-link"
        for="fourdCheckboxStretched"
        data-label="Four checkbox">Four checkbox</label
      >
    </li>

    <li class="list-group-item">
      <input
        class="form-check-input me-1"
        type="checkbox"
        value=""
        id="fivedCheckboxStretched"
      />
      <label
        class="form-check-label stretched-link"
        for="fivedCheckboxStretched"
        data-label="Five checkbox">Five checkbox</label
      >
    </li>
  </ul>
</div>
